.app-aboutme {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 30px;
  padding: 20px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    border-radius: 8px;
    text-shadow: 0 2px 4px #908d8d;
  }
  p{
    text-align: justify;
  }
  button {
    margin-top: 5px;
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #908d8d;
    cursor: pointer;
      a{
        color: white;
        text-decoration: none;
      }
      &:hover {
        border-color: #4CAF50;
        border-width: 3px;
      }
  }

}
