<section class="app-aboutme">
  <h2>About me</h2>
  <div style="width: 75%">
    <p>
      Highly motivated Front-End Developer with a strong passion for turning
      creative designs into seamless and interactive web experiences. I'm the
      bridge between design concepts and functional web interfaces, and I thrive
      on making design visions come to life on the web.
    </p>
    <button>
      <a
        href="../../../neamat_abdollah_cv.pdf"
        download="neamat_abdollah_cv.pdf"
        title="Neamat Abdollah CV"
        >Download Resume</a
      >
    </button>
  </div>
</section>
