<section class="app-skills">
  <h2>Skills</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem tempore
    aperiam et hic rem dolor nam dignissimos porro quam ipsam consequuntur
    ratione, dolore ipsum, aut consectetur beatae cupiditate natus alias veniam
    enim omnis laudantium, impedit sint. Hic, possimus. Eligendi hic at modi?
    Porro officia consectetur quam cum molestias enim natus voluptatem
    temporibus, dignissimos consequuntur ipsum officiis ex veritatis debitis
    culpa tempore provident? Corporis quidem explicabo ipsum dolor animi
    pariatur tempora?
  </p>
  <div class="skills-container">
    <div>
      <h3>My FOCUS</h3>
      <hr />
      <div class="skills-focus">
        <p>Responsive Design</p>
        <p>Web Development</p>
        <p>Web Design</p>
      </div>
    </div>
    <div class="skills-list">
      <ul>
        <li><span>HTML</span></li>
        <li><span>CSS</span></li>
        <li><span>JavaScript</span></li>
        <li><span>TypeScript</span></li>
        <li><span>Angular</span></li>
        <li><span>React</span></li>
        <li><span>Bootstrap</span></li>
        <li><span>SCSS</span></li>
        <li><span>jQuery</span></li>
        <li><span>Photoshop</span></li>
        <li><span>Illustrator</span></li>
      </ul>
    </div>
  </div>
</section>
