<section class="app-cards">
  <h2>Portfolio</h2>
  <!-- first cards row -->
  <div class="cards-list">
    <div class="card">
      <h3>CV </h3>
      <p>Using HTML & CSS</p>
      <a
        href="https://neamatabdollah.github.io/CV-project/cv.html"
        target="_blank"
        >View Project</a
      >
    </div>
    <div class="card">
      <h3>Login Page </h3>
      <p>Using HTML & CSS</p>
      <a
        href="https://neamatabdollah.github.io/Login-Page-Project/"
        target="_blank"
        >View Project</a
      >
    </div>
    <div class="card">
      <h3>Calculator</h3>
      <p>Using HTML, CSS & JavaScript</p>
      <a
        href="https://neamatabdollah.github.io/Calculator/calc.html"
        target="_blank"
        >View Project</a
      >
    </div>
  </div>
  <!-- second cards row -->
  <div class="cards-list">
    <div class="card">
      <h3>Coin Game </h3>
      <p>Using HTML, CSS & JavaScript</p>
      <a
        href="https://neamatabdollah.github.io/Coin-Game/coin.html"
        target="_blank"
        >View Project</a
      >
    </div>
    <div class="card">
      <h3>Counter </h3>
      <p>Using HTML, CSS & JavaScript</p>
      <a
        href="https://neamatabdollah.github.io/Train-Station-Counter/counter.html"
        target="_blank"
        >View Project</a
      >
    </div>
    <div class="card">
      <h3>R-P-S Game </h3>
      <p>Using HTML, CSS & JavaScript</p>
      <a
        href="https://neamatabdollah.github.io/Rock-Paper-Scissors-Game/"
        target="_blank"
        >View Project</a
      >
    </div>
  </div>
  <!-- third cards row -->
  <div class="cards-list">
    <div class="card">
      <h3>Simple Todo List </h3>
      <p>Using HTML, CSS & JavaScript</p>
      <a
        href="https://neamatabdollah.github.io/Todo-List/todo.html"
        target="_blank"
        >View Project</a
      >
    </div>
    <div class="card">
      <h3>Nest eCommerce</h3>
      <p>Using HTML, CSS & Bootstrap</p>
      <a
        href="https://neamatabdollah.github.io/Nest-Mart-Grocery_Bootstrap_SASS/"
        target="_blank"
        >View Project</a
      >
    </div>
    <div class="card">
      <h3>Lookscout Website</h3>
      <p>Using HTML & CSS</p>
      <a
        href="https://neamatabdollah.github.io/Lookscout_Responsive/"
        target="_blank"
        >View Project</a
      >
    </div>
  </div>
</section>
