<footer>
  <!-- left section -->
  <div class="touch">
    <h4>GET IN TOUCH</h4>
    <p>
      <a
        href="mailto:engcomm2016@gmail.com"
        target="_blank"
        title="Gmail Account"
        >e-mail</a
      >
    </p>
    <p>
      <a href="tel:00201117842738" target="_blank" title="Mobile Number"
        >Mobile Number</a
      >
    </p>
  </div>
  <!-- middle section -->
  <div>
    <button>CONTACT ME</button>
  </div>
  <!-- right section -->
  <div class="follow">
    <h4>FOLLOW ME</h4>
    <!-- linkedin -->
      <a
        href="https://www.linkedin.com/in/neamat-abdollah-2677ab124"
        target="_blank"
        title="LinkedIn Account"
        rel="noopener"
        class="fa fa-linkedin"
        >
      </a>
    <!-- facebook -->
      <a
        href="https://www.facebook.com/share/BguBwTTeLBoJXfCg/?mibextid=qi2Omg"
        class="fa fa-facebook"
        title="Facebook Account"
        target="_blank"
      ></a>
  </div>
</footer>
